/*!

=========================================================
* Soft UI Dashboard Pro Tailwind - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro-tailwind
* Copyright 2022 Creative Tim (https://www.creative-tim.com)


* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#tooltip[data-popper-placement^="top"] > [data-popper-arrow] {
    bottom: -4px;
  }
  
  #tooltip[data-popper-placement^="bottom"] > [data-popper-arrow] {
    top: -4px;
  }
  
  #tooltip[data-popper-placement^="left"] > [data-popper-arrow] {
    right: -4px;
  }
  
  #tooltip[data-popper-placement^="right"] > [data-popper-arrow] {
    left: -4px;
  }
  